<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce</title>
    <!--<th:block th:include="include :: header('Introduce content')"/>-->
    <style type="text/css">
        body {padding: 15px;}
        img{max-width: 100%;}
    </style>
</head>
<body>
<dic id="content" th:utext="${introduceContent}"></dic>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "front/banner";
    $("#form-banner-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-banner-edit').serialize());
        }
    }
</script>
</body>
</html>